pipeline/copy_activity_date_parameters.json
{
	"name": "copy_activity_date_parameters",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getfileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_inbound_parameter",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "@variables('container_name')",
								"type": "Expression"
							},
							"p_folder": {
								"value": "@variables('folder_name')",
								"type": "Expression"
							},
							"p_file": {
								"value": "@variables('filenm')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_outbound",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getfileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filenm",
					"value": {
						"value": "@concat('employee','_',formatDateTime(adddays(utcNow(),-1),'ddMMyyyy'),'.json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getcontainer",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "container_name",
					"value": "devcontainer"
				}
			},
			{
				"name": "getFolder",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getcontainer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folder_name",
					"value": "inbound"
				}
			}
		],
		"variables": {
			"filenm": {
				"type": "String"
			},
			"container_name": {
				"type": "String"
			},
			"folder_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-27T10:20:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}