pipeline/parent_pipeline.json
{
	"name": "parent_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "child_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"prsn_id": "101",
						"prsn_nm": "Tahnvish"
					}
				}
			},
			{
				"name": "getstatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelinestatus",
					"value": {
						"value": "@activity('Execute Pipeline').output.pipelineReturnValue.status",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelinestatus": {
				"type": "String"
			}
		},
		"annotations": []
	}
}