pipeline/Web_activity.json
{
	"name": "Web_activity",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item().employee_age,'60')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://srisaiztorageaccount.blob.core.windows.net/devcontainer/outbound/retired_employee.json?sp=racwdlmeop&st=2026-06-10T06:09:41Z&se=2026-06-10T14:24:41Z&spr=https&sv=2026-02-06&sr=c&sig=SHkSW%2BoChR3DVNdlBnlGmm7n63jcK37HpsU9zobRU9s%3D",
					"body": {
						"value": "@activity('Filter').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}